$color-white-50: #FFFFFF;
$color-white-60: #F7F9F8;
$color-white-300: #C9C9C9;
$color-white-400: #AEAEAE;
$color-white-500: #9B9B9B;
$color-white-600: #56606C;

$color-aqua-50: #16A7F6;
$color-aqua-60: #12A3FC;

$color-dark-blue-800: #151D32;

$color-black-50: #000000;